.contactForm {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    padding: 20px;
    border: 1px solid #5f85b1;
    border-radius: 8px;
    width: 450px;
}

.contactForm_Item {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}


.contactField {
    height: 30px;
}

.error {
    color: red
}

button.btn {
    max-width: 180px;
    height: 40px;
    color: #fff;
    /* border-color: #000; */
}