.authNav {
    display: flex;
    flex-basis: 150px;
    align-items: center;
    justify-content: space-between;
}

.link {
    font-size: 16px;
    font-weight: 400;
    color: inherit;
}

.active {
    color: lightblue;
    text-decoration: underline;
}
